.listingContainer {
    padding: 2%;
    width: 100%;
}
.listingContainer .subContainer{
    text-align: center;
    width: 100%;
}
.listingContainer .subContainer .subForm:nth-child(1),
.listingContainer .subContainer .subForm:nth-child(2),
.listingContainer .subContainer .subForm:nth-child(3) {
    display: inline-block;
    border: 1px solid #1b9ce3;
    width: 40%;
    margin: 0% .5% 2% .5%; 
    padding: 1%;
    border-radius: 10px;
}
.listingContainer .subContainer .subForm .search {
    display: none;
}
.listingContainer .subContainer .subForm:nth-child(1) span,
.listingContainer .subContainer .subForm:nth-child(2) span,
.listingContainer .subContainer .subForm:nth-child(3) span {
    color: #1b9ce3;
}
.listingContainer .subContainer .subForm:nth-child(3) {
    width: auto;
    border: none;
    padding-top: 0px; 
}
.listingContainer .subContainer .subForm:nth-child(3) button {
    border: 1px solid #1b9ce3;
    width: auto;
    height: auto;
    background-color: #1b9ce3;
    color: white;
}
.listingContainer .subContainer .subForm:nth-child(3) button:hover {
    background-color: white;
    color: #1b9ce3;
}
.listingContainer .subContainer .subForm:nth-child(3) button span{
    color: white;
/*	width: 50px;
    height: 50px;*/
}

.listingContainer .subContainer .subForm span {
    padding-top: 1%;
}
.listingContainer .subContainer .subForm input[type=text]{
    width: 92%;
    float: right;
    border: none;
}
.listingContainer .subContainer .subForm input[type=text]:active, 
.listingContainer .subContainer .subForm input[type=text]:focus,
.listingContainer .subContainer .subForm button:active, 
.listingContainer .subContainer .subForm button:focus {
    outline: none;
}
.listingContainer .subContainer .subForm:nth-child(4) {
    width: 100%;
}
.listingContainer .subContainer .subForm:nth-child(4) .jobType {
    margin-right: 2%;
}
@media screen and (max-width: 499px){    
    .listingContainer .subContainer .subForm:nth-child(1),
    .listingContainer .subContainer .subForm:nth-child(2),
    .listingContainer .subContainer .subForm:nth-child(3) {
        width: 96%;
        padding: 4% 2%;
        margin: 2%;
        border-radius: 10px;
    }
    .listingContainer .subContainer .subForm:nth-child(3) {
        background-color: #1b9ce3;
    }
    .listingContainer .subContainer .subForm:nth-child(3) button span:first-child {
        display: none;
    }
    .listingContainer .subContainer .subForm .search {
        display: inline;
    }
    .listingContainer .subContainer .subForm:nth-child(4) {
        padding: 4% 12%;
    }
    .displayForSmallScreen{
        padding: 0px 2%;
        margin-top: 4%;
        /* margin-bottom: -6%; */
        width: 100%;
        text-align: left;
    }
    .displayForSmallScreen button,
    .displayForSmallScreen select{
        background-color: skyblue;
        border-radius: 10px;
        border: none;
        padding: 1% 4%;
        margin-right: 1%;
    }
    .displayForSmallScreen select{
        margin-right: 0%;
        text-align: end;
        float: right;
    }
    .displayForSmallScreen .openFilterBtn{

    }
}