.otherJobContainer{
    /*	width: 30%;
        float: left;
    */	
    margin-top: 5%;
    text-align: left;
}
.mainJobContainerAtServer{
/*	width: 70%;
    float: left;
*/	margin-top: 5%;
    text-align: left;
}
.otherJobContainer .container .subContainer {
    margin-bottom: 2%; 

}
.otherJobContainer .container .subContainer:nth-child(1) {
    border: 1px solid #1b9ce3;
    padding: 4%;
}
.otherJobContainer .container .subContainer:nth-child(1) .body{
    border-top: 1px solid #1b9ce3;
    padding-top: 4%;
}
.otherJobContainer .container .subContainer:nth-child(1) .body input{
    width: 100%;
    border: 2px solid #1b9ce3;
    padding: 2% 4%;
    border-radius: 45px;
}
.otherJobContainer .container .subContainer:nth-child(1) .body input:active, 
.otherJobContainer .container .subContainer:nth-child(1) .body input:focus{
    outline: none;
}
.otherJobContainer .container .subContainer:nth-child(1) .body button{
    margin-top: 2%;
    width: 100%;
    border: 2px solid #1b9ce3;
    background-color: #1b9ce3;
    color: white;
    padding: 2% 4%;
    border-radius: 45px;
}
.otherJobContainer .container .subContainer:nth-child(1) .body button:hover{
    color: #1b9ce3;
    background-color: white;
}
.errorEmailMsgs{color: red;}
.otherJobContainer .container .subContainer:nth-child(2),
.otherJobContainer .container .subContainer:nth-child(3) {
    border: 1px solid #1b9ce3;
    padding: 4%;
}
/* .otherJobContainer .container .subContainer:nth-child(2) .jobs,
.otherJobContainer .container .subContainer:nth-child(3) .jobs {

} */
.otherJobContainer .container .subContainer:nth-child(2) .jobs .jobList,
.otherJobContainer .container .subContainer:nth-child(3) .jobs .jobList {
    /* border-top: 1px solid #1b9ce3; */
    /* padding-top: 4%; */
}
.otherJobContainer .container .subContainer:nth-child(2) .jobs .jobList .job,
.otherJobContainer .container .subContainer:nth-child(3) .jobs .jobList .job {
    border-top: 1px solid #1b9ce3;
    padding-top: 5%;
}
.otherJobContainer .container .subContainer:nth-child(2) .jobs .jobList .job:nth-child(1),
.otherJobContainer .container .subContainer:nth-child(3) .jobs .jobList .job:nth-child(1) { 
    border-top: none;
}
.otherJobContainer .container .subContainer:nth-child(2) .jobs .jobList .job .remote,
.otherJobContainer .container .subContainer:nth-child(3) .jobs .jobList .job .remote, 
.mainJobContainer .container .description h4 .remote{
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 7px;
    padding: 5px;
}
.otherJobContainer .container .subContainer:nth-child(2) .jobs .jobList ul li:nth-child(1) div{
    border: none;
}
.otherJobContainer .container .subContainer:nth-child(2) .jobs .jobList ul li {
    list-style-type: none;
    margin-left: -10%;
}

.mainJobContainer .container {
	padding: 0px 2%;
}
.mainJobContainer .container .job {
	width: 100%;
	height: 200px;
}
.mainJobContainer .container .job .image {
	max-width: 100%;
	height: 100%;
    text-align: center;
}
.mainJobContainer .container .description {
    width: 100%;
    height: 200px;
    margin-bottom: 5%; 
}
.share span{
    cursor: pointer;
}
.sendMail,
.btnJobApply{
    border: 2px solid gray;
    background-color: gray;
    color: white;
    padding: 1% 10%;
    border-radius: 45px;
    margin-top: 1%;
}

.hiddenDiv {
    position: fixed;
    top: 0;
    left: -300px; /* Off-screen position */
    width: 300px;
    height: 100vh;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out; /* Use transform for sliding effect */
  }
  
  .visible {
    transform: translateX(0); /* Slide the div into visibility */
  }
  
  /* ApplyButton.css */
.message,
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.8); 
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 4%; */
    scroll-behavior: smooth;
    color: white;
  }
  .message{
    display: flex;
  }
  .message p{
    color: blue;
    padding: 2%;
  }
  
  .modal_content {
    /* background-color: rgb(220, 220, 220); */
    background-color: rgba(50, 50, 50, 0.8); 
    padding: 20px;
    border-radius: 5px;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
  .modal_content div {
    width: 100%;
    padding: 0px 25%;
    /* display: block;  */
  }
  .mailBody{
    width: auto;
    margin: 0px 10%;
    padding: 1%;
    text-align: left;
    background-color: black;
    font-style: italic;
  }
  .addSkills{
    background-color: #1b9ce3;
    border-radius: 10px;
    color: white;
    padding: 2px 2%;
    border: none;    
  }
.modal_content div ul li{
    list-style-type: none;
    margin-bottom: 2%;
    text-align: left;
    margin-left: 20%;
}
.addSkills:hover{
    background-color: #1b9ce3;
    color: white;
}
  .addSkillInput{
    width: 45%;
    margin-right: 2%;
    border-radius: 15px;
    padding: 5px 2%;
    border: none;
  }
  .deleteSkillInput{
    background-color: red;
    border-radius: 10px;
    border: none;
    margin-left: 2%;
    color: white;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Add a transition effect for a smoother appearance */
  .modal_content, .close {
    transition: 0.3s;
  }
  
  label {
    margin-bottom: 10px;
  }
  input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
  }

.sendMail{
    background-color: #1b9ce3;
    border-color: #1b9ce3;
    padding: 10px 4%;
    margin-right: 4%;
    border-radius: 5px;

  }
  .openWithOtherMain {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .openWithOtherMain:hover {
    background-color: #45a049;
  }
  

@media screen and (max-width: 499px){    
    .otherJobContainer {
        display: none;
    }
    .mainJobContainerAtServer{
        margin: 5% 4%;
        width: 92%;
    }
    .description{
        margin-top: 8%;
    }
    .modal_content {
        padding: 5px;
    }
    .modal_content h3{
        margin: 3% auto;
    }
    .modal_content div {
        padding: 0px;
    }
    input{
        width: 86%;
    }
    .close {
        top: 2px;
        right: 20px;
    }
    .modal_content div ul li{
        margin-left: 1%;
    }
    .mailBody{
        width: auto;
        margin: 0px 1%;
        padding: 1%;
    }
    .sendMail,
    .openWithOtherMain {
        width: 90%;
        margin: 2% 5%;
    }
    .openWithOtherMain {
        margin-bottom: 10%;
    }
}



