.backgroundContainer {
    height: 300px;
    background-image: url('../../asserts/image1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center center;       */
}
.createResume{
    margin: 4% 1%;
}
.createResume a{
    text-decoration: none;
}
.browse_employees{
    margin-top: 5%;
}
.browse_employees a{
    text-decoration: none;
}
@media screen and (max-width: 499px){
    .backgroundContainer{
        height: 470px; 
    }
    .createResume{
        margin: 8%;
    }
    .browse_employees{
        margin: 10% 3% 3% 3%;
    }
}