.backgroundContainer {
    height: 300px;
    background-image: url('../../asserts/image1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center center;       */
}