.row{
    margin: 2% 4%;
    padding-top: 1%;
}
.row h2{
    margin-top:  8%;
}
.mainContainer{
    text-align: left;
    box-shadow: 5px 5px 20px grey;
    padding: 5% 4%;
}
.mainContainer .container input,
.mainContainer .container textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #3dabe7;
    padding: 2% 3%;
    margin-bottom: 2%;
}
.mainContainer .container textarea{
    width: 100%;
    height: 100px;
}
.mainContainer .container label{
    color: black;
    margin-top: 2%;
}
.mainContainer .container button:hover{
    color: black;
}
.mainContainer .container button{
    padding: 1% 6%;
    border: 1px solid #3dabe7;
    background-color: #3dabe7;
    border-radius: 4px;
    color: white;
}
.mainContainer .names{
    width: 65%;
}
.row .social{
    margin-top: 4%;
}
.row .social a{
	text-decoration: none;
	margin-right: 5%; 
	font-size: 20px;
	color: white;
	padding: 10px;
	margin: auto 1%;
	border-radius: 50%;
}
.row .social a:nth-child(1){
	padding-right: 12px;
	padding-left: 12px;
	background-color: #3B5998;
}
.row .social a:nth-child(2){
	background-color: #55ACEE;
}
.row .social a:nth-child(3){
	background-color: #007bb5;
}
.row .social a:nth-child(4){
	background-color: #bb0000;
}
.row .social a:nth-child(5){
	background-color: #4cc85a;
}
.err{
    color: red;
}
@media screen and (max-width: 499px){
    .mainContainer{
        margin-top: 6%;
    }    
    .mainContainer .names{
        width: 100%;
    }    
}