.navLogo{
    width: 180px;
    margin: 5px;
    
}
.nav{
    background-color: #3dabe7;
    padding: 2% 6%;
}
/* .navLinks{
    
} */
.navLinkItem{
    margin: 1% 0%;
    font-weight: bold;
}
.btnHeader{
    margin: 0% 2%;
    padding: 0% 10%;
    border: 2px solid white;
    background-color: #3dabe7;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.btnHeader a{
    text-decoration: none;
    color: white;
}
.btnHeader:hover{
    background-color: skyblue;
}
.navListItems{
    list-style-type: none;
    color: white;
    font-weight: bold;
    text-align: end;
}
.navListItems span{
    color: white;
    font-weight: bold;
}
.navListItems ul{
    margin-left: -100px;
}
.navListItems li{
    text-align: start;
}
@media screen and (max-width: 499px){
    .nav{
        background-color: #3dabe7;
        padding: 2% 0px;
    }
    .navLinkItem{
        text-align: right;
    }
    .btnHeader{
        margin: 2%;
        padding: 1% 6%;
    }
    .btnLogin{
        float: right;
        text-align: right;
    } 
}

