.row{
	width: 100%;
	float: left;
    text-align: left;
    margin: 0px;
}	
.row1{
    background-color: #333; 
    color: white; 
    margin-top: 3%
}	
.row2{
    background-color: #334; 
    color: white
}	
.footer1{
	padding: 2% 0px;	
}
.footer1SubFooter {
	width: 15%;
	float: left;
}
.footer1SubFooter:nth-child(1){
	width: 45%;
	padding-right: 4%;
}
.footer1SubFooter:nth-child(4){
	width: 25%;
}
.footer1SubFooter:nth-child(5){
	width: 24%;
	padding-right: 0%;
}
.footer1SubFooter .organization {
    font-size: 15px; 
    color: lightblue;
}
.footer1SubFooter span{
	font-size: 13px; 
}
.footer1SubFooter .hideThis{
	color: #333;
}
.footer1SubFooter .links{
	background-color: #333;
    color: red;		
}
.footer1SubFooter .links:hover{
	background-color: #333;
}
.footer1SubFooter .links a{
	text-decoration: none;
}
.footer1SubFooter .links a:hover{
	color: white;
}
.footer1SubFooter div input[type=button]{
	background-color: red;
	color: white;
	padding: 2px 20px;
	border: 1px solid red;
}
.footer1SubFooter div input[type=email]{
	padding: 5px 15px;
	border: none;
	border: 1px solid lightblue;
	width: 100%;
}

.footer2{
	padding: 2% 0px;
}
.footer2SubFooter{
	width: 50%;
	float: left;
}
.footer2SubFooter:last-child(){
	float: right;
}
.footer2SubFooter .social{
	margin-top: 10px;
	text-align: right;
	padding-right: 10%;
}
.footer2SubFooter .social a{
	text-decoration: none;
	margin-right: 4%; 
	font-size: 13px;
	color: white;
	padding: 6px;
	margin: auto 1%;
	border-radius: 50%;
}
.footer2SubFooter .social a:nth-child(1){
	padding: 6px 8px;
	background-color: #3B5998;
}
.footer2SubFooter .social a:nth-child(2){
	background-color: #55ACEE;
}
.footer2SubFooter .social a:nth-child(3){
	background-color: #007bb5;
}
.footer2SubFooter .social a:nth-child(4){
	background-color: #bb0000;
}
.footer2SubFooter .social a:nth-child(5){
	background-color: #4cc85a;
}
.footer2SubFooter .social a:nth-child(6){
	padding: 8px 6px;
	background-color: #262626;
}
.footer2SubFooter .social a:hover{
	padding-top: 13px;
	padding-bottom: 13px;
}
.footer2SubFooter .copyRight{
    font-size: 14px;
}
.footer1 .err{
	color:red;
}
.cookie_consent_overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 1%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: bottom;
}

.cookie_consent {
	background: lightgray;
	width: 90%;
	padding: 0px;
	padding-bottom: 10px;
	border-radius: 8px;
	text-align: center;
}

.cookie_consent button {
	background: #007bff;
	color: white;
	border: none;
	padding: 4px 12px;
	border-radius: 4px;
	margin-block-start: 2%;
	cursor: pointer;
}
  
@media screen and (max-width: 499px){
	.footer1SubFooter{
		width: 44%;
		float: left;
		padding: 2%;
		margin-right: 4%;
		margin-top: 2%;
	}
	.footer1SubFooter:nth-child(1){
		width: 100%;
		padding-right: 0%;
	}
	.footer1SubFooter:nth-child(4){
		width: 100%;
	}
		.footer1SubFooter:nth-child(4) h4,
	.footer1SubFooter:nth-child(5) h4{
		display: none;
	}
	.footer1SubFooter:nth-child(5){
		width: 100%;
		padding-right: 0%;
	}
	.footer1SubFooter:nth-child(5) p{
		padding: 0px 1%;
	}
	.footer1SubFooter div input[type=email]{
		padding: 5px 15px;
		border: none;
		border: 1px solid lightblue;
		width: 98%;
	}
	.footer2SubFooter{
		width: 100%;
		float: left;
		text-align: center;
	}
	.footer2SubFooter:nth-child(1){
		margin: 4% 1%;
		/* float: right; */
	}
	.footer2SubFooter:nth-child(2){
		margin-bottom: 6%;
		/* float: right; */
	}
	.footer2SubFooter .social{
		text-align: center;
		padding-right: 0%;
	}
}
