/*********footer*********/
.row{
	width: 100%;
	float: left;
    text-align: left;
    margin: 0px;
}	
.row1{
    background-color: #333; 
    color: white; 
    margin-top: 3%
}	
.row2{
    background-color: #334; 
    color: white
}	
.footer1{
	padding: 2% 0px;	
}
.footer1SubFooter {
	width: 15%;
	float: left;
}
.footer1SubFooter:nth-child(1){
	width: 30%;
	padding-right: 4%;
}
.footer1SubFooter:nth-child(5){
	width: 24%;
	padding-right: 0%;
}
.footer1SubFooter .organization {
    font-size: 15px; 
    color: lightblue;
}
.footer1SubFooter span{
	font-size: 13px; 
}
.footer1SubFooter .hideThis{
	color: #333;
}
.footer1SubFooter .links{
	background-color: #333;
    color: red;		
}
.footer1SubFooter .links:hover{
	background-color: #333;
}
.footer1SubFooter .links a{
	text-decoration: none;
}
.footer1SubFooter .links a:hover{
	color: white;
}
.footer1SubFooter div input[type=button]{
	background-color: red;
	color: white;
	padding: 2px 20px;
	border: 1px solid red;
}
.footer1SubFooter div input[type=email]{
	padding: 5px 15px;
	border: none;
	border: 1px solid lightblue;
	width: 100%;
}

.footer2{
	padding: 2% 0px;
}
.footer2SubFooter{
	width: 50%;
	float: left;
}
.footer2SubFooter:last-child(){
	float: right;
}
.footer2SubFooter .social{
	margin-top: 10px;
	text-align: right;
	padding-right: 10%;
}
.footer2SubFooter .social a{
	text-decoration: none;
	margin-right: 4%; 
	font-size: 13px;
	color: white;
	padding: 6px;
	margin: auto 1%;
	border-radius: 50%;
}
.footer2SubFooter .social a:nth-child(1){
	padding: 6px 8px;
	background-color: #3B5998;
}
.footer2SubFooter .social a:nth-child(2){
	background-color: #55ACEE;
}
.footer2SubFooter .social a:nth-child(3){
	background-color: #007bb5;
}
.footer2SubFooter .social a:nth-child(4){
	background-color: #bb0000;
}
.footer2SubFooter .social a:nth-child(5){
	background-color: #dd4b39;
}
.footer2SubFooter .social a:hover{
	padding-top: 13px;
	padding-bottom: 13px;
}
.footer2SubFooter .copyRight{
    font-size: 14px;
}

.footer1 .err{
	color:red;
} 
