.error_message{
	color: red;
}
.error_login_message{
	color: red;
}
.form_container{
	text-align: center;
	width: auto;
	margin: 2%;
	padding: 3%;
	margin-bottom: 5%;
}
.form_container .sub_container{
	margin-top: 2%;
}
.form_container .sub_container input[type=email], 
.form_container .sub_container input[type=password]{
	border: 1px solid lightblue;
	padding: 10px 15px;
	width: 40%;
	text-align: center;
}
.login_submit{
	padding: 1% 5%;
	border: 2px solid gray;
	background-color: white;
	color: black;
}
.login_submit:hover{
	background-color: gray;
	color: white;
}
.form_container .last_container {
	width: auto;
	border-top: 1px solid gray;
	padding: 2%;
	margin: 2%;
	margin-top: 5%;
}	
.form_container .last_container div {
	width: 50%;
	float: left;
}
.form_container .last_container div:nth-child(2) a{
	color: black;
	border: 2px solid gray;
	padding: 1% 2%;
	background-color: lightgray;
	text-decoration: none;
}
.form_container .last_container div:nth-child(2) a:hover{
	color: white;
	background-color: gray;
}
.form_container .last_container {
	margin: 2%;
}	
.forgotPassword a{
	text-decoration: none;
}

@media screen and (max-width: 499px){
	.form_container .sub_container input[type=email], 
	.form_container .sub_container input[type=password]{
		width: 85%;
	}
	.login_submit{
		width: 50%;
	}
	.form_container .last_container {
		margin-top: 5%;
		width: 100%;
	}
	.form_container .last_container div:nth-child(1) {
		width: 40%;
	}
	.form_container .last_container div:nth-child(2) {
		width: 60%;
	}
	.register{
		width: 100%;
	}
	
}
