.listingContainer {
    padding: 2%;
}
.listingContainer .subContainer{
    text-align: center;
    width: 100%;
}
.listingContainer .subContainer .subForm:nth-child(1),
.listingContainer .subContainer .subForm:nth-child(2),
.listingContainer .subContainer .subForm:nth-child(3) {
    display: inline-block;
    border: 1px solid #1b9ce3;
    width: 40%;
    margin: 0% .5% 2% .5%; 
    padding: 1%;
}
.listingContainer .subContainer .subForm:nth-child(1) span,
.listingContainer .subContainer .subForm:nth-child(2) span,
.listingContainer .subContainer .subForm:nth-child(3) span {
    color: #1b9ce3;
}
.listingContainer .subContainer .subForm:nth-child(3) {
    width: auto;
    border: none;
    padding-top: 0px; 
}
.listingContainer .subContainer .subForm:nth-child(3) button {
    border: 1px solid #1b9ce3;
    width: auto;
    height: auto;
    background-color: #1b9ce3;
    color: white;
}
.listingContainer .subContainer .subForm:nth-child(3) button:hover {
    background-color: white;
    color: #1b9ce3;
}
.listingContainer .subContainer .subForm:nth-child(3) button span{
    color: white;
/*	width: 50px;
    height: 50px;*/
}

.listingContainer .subContainer .subForm span {
    padding-top: 1%;
}
.listingContainer .subContainer .subForm input[type=text]{
    width: 92%;
    float: right;
    border: none;
}
.listingContainer .subContainer .subForm input[type=text]:active, 
.listingContainer .subContainer .subForm input[type=text]:focus,
.listingContainer .subContainer .subForm button:active, 
.listingContainer .subContainer .subForm button:focus {
    outline: none;
}
.listingContainer .subContainer .subForm:nth-child(4) {
    width: 100%;
}
.listingContainer .subContainer .subForm:nth-child(4) .jobType {
    margin-right: 2%;
}